# Astro output
dist/
.output/

# generated types
.astro/

# dependencies
node_modules
.npm

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Code editors
.vscode
.idea
tags
tags.*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
